.overlay {
    position: absolute;
    background: linear-gradient(rgba(27, 27, 27, 0.4),rgb(27, 27, 27)), url("../../images/background/wallpaper.jpg") no-repeat center center scroll;
    height: 55vh;
    width: 100%;
}

.user-head {
    margin-top: 3.5%;
    width: 47px;
    margin-left: 2.5%;
    height: auto;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    border-radius: 15px;
}

.user-head:hover {
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    border-radius: 5px;
}

.settings-btn {
    position: absolute;
    margin-top: 3.5%;
    margin-left: 87.5%;
    background: white;
    border: none;
    width: 47px;
    height: 47px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    color: black;
    border-radius: 15px;
    font-size: 200%;
}

.settings-btn:hover {
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    border-radius: 5px;
}

.block-play {
    position: absolute;
    background: #222222;
    width: 75%;
    height: 10%;
    margin: 10%;
    margin-top: 28%;
    border-radius: 10px;
    display: flex;
}

.player-connect-number {
    position: absolute;
    width: 40%;
    height: 50%;
    font-size: 130%;
    border-radius: 20px;
    margin-left: 20%;
    color: azure;
    text-align: center;
    margin-top: 1.7%;
    background: #64bf6d80;
}

.play-btn {
    position: absolute;
    width: 10%;
    height: 50%;
    font-size: 130%;
    border-radius: 20px;
    border: none;
    color: azure;
    margin-top: 1.7%;
    margin-left: 80%;
    background: #64bf6d;
}

.play-btn:hover {
    background: #272928;
}

.play-btn:disabled {
    background: #272928;
}

.news {
    position: absolute;
    background: #222222;
    border-radius: 20px;
    text-align: center;
    width: 55%;
    color: black;
    margin-top: 40%;
    margin-left: 4%;
}

.player-connect-head {
    position: absolute;
    background: #222222;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    color: black;
    margin-top: 40%;
    margin-left: 65%;
}