@import "./frame.css";
@import "./test.css";
.home{
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
.top{
    height: 15%;
    background: rgb(49, 49, 49);
}

.centre-top{
    text-align: center;
    height: 35%;
    background: rgb(192, 136, 136);
}

.play-btn {
    padding: 10px;
    background: rgb(65, 65, 65);
    color: rgb(122, 122, 122);
    width: 200px;
    height: 20px;
    border-radius: 20px;
}

.centre-bottom {
    display: table;
    width: 100%;
    height: 45%;
    background: rgb(131, 58, 58);
}

.server_status {
    height: 80%;
    width: 25%;
    border-radius: 5%;
    background: rgba(255, 255, 255, 0.295);
}
.ram {
    -webkit-appearance: none;
    height: 2%; 
    background: #1c633a79;
    border-radius: 5%;
    outline: none;
}
 

.bottom{
    font-size: 80%;
    position: absolute;
    color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    background: rgb(49, 49, 49);
}