@import "./frame.css";

body{
    background: url("../../images/background/1.png");
}
.login{
    position: absolute;
    display: flex;
    width: 70%;
    height: 70%;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #1e272e7e;
    border-radius: 15px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(255, 255, 255);
}

h2{
    color: black;
}

hr{
    width: 75%;
}

input.text{
    margin: 2%;
    background: rgba(255, 255, 255, 0.534);
    text-align: center;
    position: relative;
    width: 300px;
    height: 32px;
    border-radius: 16px;
    border: none;
    outline: none;

}

.login-btn {
    padding: 10px;
    background: rgb(65, 65, 65);
    color: rgb(122, 122, 122);
    width: 200px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.logo-microsoft {
    opacity: 0.5;
    width: 5%;
    padding: 2%;
    cursor: pointer;
}