.login-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    border-radius: 20px;
    background-color: rgba(3, 255, 142, 0.5);
}

.login-content .login-head {
    padding: 30px 50px;
    text-align: center;
}

.login-content .login-head .title {
    font-family: 'Roboto Light';
    font-size: 24px;
    color: #ffffff;
}

.login-content .login-head .desc {
    margin: 20px 0;
    font-size: 13px;
}

.login-content .login-body {
    padding: 0 80 20 80;
}

.form-group {
    text-align: center;
    margin-bottom: 20px;
}

.space-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-group {
    text-align: center;
}

.login-body p {
    margin: 7px 0;
    font-size: 14px;
}

.login-body .help-link {
    color: inherit;
}
.login-body .help-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.login-body .textfield {
    width: 100%;
}

.login-body button {
    padding: 18px 40px;
    font-size: 17px;
}

.login-body .circle-loader {
    margin-left: 10px;
}

.login-body .forgot-password {
    font-size: 13px;
}


.loginField {
    font-family: 'Avenir Book';
    background: none;
    border-width: 1.5px 0px 0px 0px;
    border-style: solid;
    width: 250px;
    margin-bottom: 20px;
    border-color: #fff;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding: 7.5px;
    font-size: 10px;
    letter-spacing: 1px;
}
.loginField:focus {
    outline: none;
}
.loginField:disabled {
    color: rgba(255, 255, 255, 0.50);
}
.loginField::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
}
.loginField:focus::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}

.login-button{
    background-color: cadetblue;
    border-radius: 20px;
}