@import "./frame.css";

body{
    background: url("../../images/background/1.png");
    background-size: cover;
    background-position: bottom;
}
.login{
    position: absolute;
    display: flex;
    width: 70%;
    height: 70%;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #00000055;
    border-radius: 2%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h2{
    color: #f9f8f9;
}

hr{
    width: 75%;
    color:#b7950b;
}

input.text{
    margin: 2%;
    background: #00000067;
    text-align: center;
    position: relative;
    width: 300px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #f9f8f9;
    outline: none;
    color: #fff;

}

.login-btn {
    padding: 10px;
    background: #00000088;
    color: #b7950b;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logo-microsoft {
    opacity: 0.5;
    width: 5%;
    padding: 2%;
    cursor: pointer;
}