.settingsNavbtn {
  background: red;
  width: 10%;
  align-items: center;
  text-align: -webkit-center;
  color: white;

}

.settingsbtn {
  display: flex;
  border: none;
}

.tabsettings {
  position: absolute;
  color: rgb(0, 0, 0);
  background: white;
  width: 90%;
  height: 80%;
  margin: 10% 10%;
}