@import "home/newsserver.css";
@import "home/startgame.css";
@import "home/statusserver.css";

.overlay {
    position: absolute;
    background: linear-gradient(rgba(27, 27, 27, 0.4),rgb(27, 27, 27)), url("../../images/background/wallpaper.jpg") no-repeat center center scroll;
    height: 55vh;
    width: 100%;
}

.user-head {
    margin-top: 3.5%;
    width: 47px;
    margin-left: 2.5%;
    height: auto;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    border-radius: 15px;
}

.user-head:hover {
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    border-radius: 5px;
}

.settings-btn {
    position: absolute;
    margin-top: 3.5%;
    margin-left: 87.5%;
    background: white;
    border: none;
    width: 47px;
    height: 47px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    color: black;
    border-radius: 15px;
    font-size: 200%;
}

.settings-btn:hover {
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    border-radius: 5px;
}