.home-content {
    resize: none;
    overflow: hidden;
}


.logohome {
    height: 19%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}
.bottom-bar-home {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    backdrop-filter: blur(30px);
}

.player-head {
    margin: auto 15px;
    margin-top: 10px;
    background-image: url("../../images/default/setve.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 15px;
}

.player-head:hover {
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.settings-btn {
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: center;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: ease-in-out 0.2s;
    background-color: #00bd7b00;
    cursor: pointer;
}

.settings-btn:hover {
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    transform: rotate(180deg);
}

.icon-settings:before {
    font-size: 40px;
}

.play-element {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    color: #F1F1F1;
    font: normal normal bold 19px/29px Poppins;
    text-align: center;
}

.play-btn {
    top: 10px;
    width: 160px;
    height: 37px;
    border-radius: 20px;
    border: none;
    background: rgb(105, 152, 255);
    background: radial-gradient(circle, rgb(105, 152, 255) 0%, rgba(105, 152, 255) 100%);
    font: normal normal bold 20px/25px Poppins;
    color: #000000;
    margin: 15px 0;
    transition: 0.2s ease-out;
    cursor: pointer;
    
}

.play-btn:hover {
    box-shadow: 0 0 15px rgb(98, 148, 255);
    transform: scale(1.05);
}

.download-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.text-download,
.progress-bar {
    display: none;
}

.text-download {
    font-size: 15px;
}

.progress-bar {
    background-color: transparent;
    height: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #797979;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #00bd7a;
    border-radius: 10px;
}

.body-home {
    display: flex;
    height: calc(100% - 150px);
    margin: 3rem 2rem;
}

.news-list {
    position: relative;
    overflow: auto;


}

.news-list::-webkit-scrollbar {
    width: 0;
}

.news-block {
    margin-bottom: 1rem;
    border-radius: 10px 10px 10px 10px;
    background-color: #29292985;
    transition: ease-in-out 0.2s;
    backdrop-filter: blur(30px);
    margin: auto;
    max-width: 1500px;
    margin-bottom: 10px;
}

.news-block:hover {
    backdrop-filter: blur(30px);
    background-color: #292929b7;
}

.opacity-1 {
    opacity: 1;
}

.news-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 87px;

    border-radius: 10px 10px 0px 0px;

}

.title {
    position: absolute;
    font: normal normal bold 17px/30px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    display: flex;
    position: absolute;
    text-decoration: none;
    max-width: calc(100% - 158px);
    font-weight: 600;
    font-size: 18px;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    overflow: hidden;
    line-height: 25px;
    align-items: center;
    height: 3em;
    transition: color .2s;
}

.date {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #E1E1E1;
    width: 75px;
    text-align: center;
    font-weight: 900;
    font-family: Poppins;
    transition: color .2s;
}

.day {
    font-size: 28px;
    margin-bottom: -10px;
    display: block;
}

.month {
    text-transform: uppercase;
    font-size: 14px;
}

.news-content {
    position: relative;
    width: 100%;
}

.bbWrapper {
    position: relative;
    padding: 20px;
    background-color: #1f1f1f34;
    font-family: Poppins;
    font-size: 13px !important;
    color: #E1E1E1;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    transition: color .2s;
}

.news-author {
    text-align: end;
    margin: 0;
    color: #F1F1F1;
}

.news-author span {
    font-style: italic;
}

.info-list {
    position: relative;
    width: 65vh;
    padding-left: 1rem;
    background: none;
    height: 100%;
    display: grid;
}

.server {
    position: relative;
    width: 70%;
    height: 75px;
    background-color: #29292985;
    border-radius: 47px;
    transition: ease-in-out 0.2s;
    backdrop-filter: blur(30px);
    min-width: 350px;
    left: 200px;
}

.server:hover {
    backdrop-filter: blur(30px);
    background-color: #292929af
}

.server-img {
    position: absolute;
    width: 42px;
    height: 45px;
    top: 15px;
    left: 15px;
    border-radius: 15%;
}

.name {
    position: absolute;
    font: normal normal bold 17px/25px Poppins;
    color: #E1E1E1;
    top: 17px;
    left: 70px;
    transition: color .2s;
}

.desc {
    position: absolute;
    font: normal normal normal 11px/17px Poppins;
    color: #E1E1E1;
    transition: all .2s;
    top: 40px;
    left: 70px;
    transition: color .2s;
}

.green {
    color: #1AC707;
}

.red {
    color: #FF0409;
}

.etat-text {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 49px;
    height: 33px;
    background-color: #03030383;
    border-radius: 4px;
    transition: background-color .2s;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal normal bold 13px/15px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    transition: color .2s;
}

.online {
    position: absolute;
    top: -6px;
    left: 41px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #1A1A1A;
    transition: all .2s;
    background-color: #1AC707;
}

.online.off {
    background-color: #FF0409;
}

.avenir {
    font: normal normal 19px/29px Poppins;
    color: #E1E1E1
}

.suivre{
    display: block;
    position: relative;
    color: #ffffff;
    background-color: #29292985;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    font: normal normal bold 25px/30px Poppins;
    margin: 30px 0px 10px 0px;
    min-width: 350px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    height: 350px;
}

.socialLink {
    position: relative;
}

.socialLinkBtn {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: #1a1a1ac0;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin: 1rem 0;
    transition: ease-in-out 0.2s;
}

.socialLinkBtn:hover {
    background-color: #111111e1;
    cursor: pointer;
}

.socialLinkMedia {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 8px 1rem;
}

.socialLinkBtn span {
    margin: 8px 0;
}

.DiscordMedia {
    content: url(../../images/logo/social/discord.svg);
    top: 3px;
}

.TwitterMedia {
    content: url(../../images/logo/social/twitter.svg);
    top: 3px;
}

.GithubMedia {
    content: url(../../images/logo/social/github.png);
    top: 2px;
}

.YoutubeMedia {
    content: url(../../images/logo/social/youtube.png);
    top: 2px;
}

.InstagramMedia {
    content: url(../../images/logo/social/instagram.png);
    top: 3px;
}

.TwitchMedia {
    content: url(../../images/logo/social/twitch.svg);
    top: 2px;
}

.WebsiteMedia {
    content: url(../../images/logo/social/website.png);
    top: 2px;
}

.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .background-video video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .content video {
    width: 100%;
    display: block;
  }
  .content:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.5) 100%), no-repeat center center scroll;
  }
  #mute {
    cursor:pointer;
    padding: 10px 20px;
    background:#000;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
  }

.avenir {
    font: normal normal 19px/29px Poppins;
    color: #E1E1E1
}
.suivre{
    display: block;
    position: relative;
    color: #ffffff;
    background-color: #29292985;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    font: normal normal bold 25px/30px Poppins;
    margin: 30px 0px 10px 0px;
    min-width: 350px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    height: 540px;
}

.socialLink {
    position: relative;
}

.socialLinkBtn {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: #1a1a1ac0;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin: 1rem 0;
    transition: ease-in-out 0.2s;
}

.socialLinkBtn:hover {
    background-color: #111111e1;
    cursor: pointer;
}

.socialLinkMedia {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 8px 1rem;
}

.socialLinkBtn span {
    margin: 8px 0;
}

.DiscordMedia {
    content: url(../../images/logo/social/discord.svg);
    top: 3px;
}

.TwitterMedia {
    content: url(../../images/logo/social/twitter.svg);
    top: 3px;
}

.GithubMedia {
    content: url(../../images/logo/social/github.png);
    top: 2px;
}

.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .background-video video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .content video {
    width: 100%;
    display: block;
  }
  .content:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.5) 100%), no-repeat center center scroll;
  }
  #mute {
    cursor:pointer;
    padding: 10px 20px;
    background:#000;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
  }

  .bottom-bar-home {
    background: rgba(18, 18, 18, 0.5);
  }
  .settings-btn {
    /* transition: ease-in-out 0.2s; */
    transition: ease-in-out 0.5s;
  }
  .settings-btn:hover {
    /* transition: ease-in-out 0.2s; */
    transition: ease-in-out 0.5s;
  }
  .news-block {
    background: rgba(18, 18, 18, 0.5);
  }
  .bbWrapper {
    background: rgba(18, 18, 18, 0.5);
  }
  .server {
    background: rgba(18, 18, 18, 0.5);
  }
  .etat-text {
    background: rgba(18, 18, 18, 0.5);
  }
  .suivre {
    background: rgba(18, 18, 18, 0.5);
  }
  .socialLinkBtn {
    background: rgba(18, 18, 18, 0.5);
    }