.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    background: var(--background);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    text-align: center;
    min-width: 40%;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 1.3rem;
    font-weight: 500;
}

.connect {
    color: var(--color);
    background: var(--element-color);
    font-weight: 500;
    border-radius: 5px;
    padding: 0.3rem 4rem;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
    font-family: Outfit;
    border: 0.1px solid rgba(255, 255, 255, 0.15);
}
.cancel {
    color: var(--color);
    background: var(--background);
    font-family: Outfit;
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-weight: 500;
    border-radius: 5px;
    padding: 0.3rem 4rem;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 2px var(--element-color);
    border-radius: 30px;
    width: 50%;
    padding: 0.4rem 1rem;
    margin-top: 10px;
}