@import "settings/resolution.css";
@import "settings/java-memory.css";


.settingsNavbtn {
  width: 10%;
  text-align: -webkit-center;
  color: white;
  margin: 20% 0%;
}

.settingsbtn {
  display: flex;
  border: none;
  background: none;
  color: #64bf6d80;
  font-size: 140%;
  font-weight: bolder;
  margin: 7% 0%;
  padding: 0;
}

.tabsettings {
  position: absolute;
  border-radius: 25px;
  background: rgb(48, 48, 48);
  padding: 2%;
  width: 90%;
  height: 80%;
  margin: 10% 10%;
}