.library {
    display: flex;
    margin: 30px;
    color: aliceblue;
}

.btn-cancel {
    position: absolute;
    right: 0;
    top: 0;
    margin: 35px 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: url(../../images/logo/back.png) no-repeat center;
    background-size: 40px;
    background-color: rgb(46, 46, 46);
    cursor: pointer;
}

.title-skin {
    padding-bottom: 2vh;
}

.left-skin {
    width: 60vh;
    font-size: 5vh;
    text-align: center;
    height: 100vh;
}
.drage-skin {
    height: 70vh;
    width: 40vh;
    margin: 5vh 10vh;
}

.vertical-line {
    border-left: 0.5vh solid #64bf6d;
    display: inline-block;
    height: 85vh;
    margin: 5vh 4vh;
    border-radius: 5px;
}

.right-skin {
    width: 90vh;
    font-size: 5vh;
    text-align: center;
    height: 100vh;
}

.btn-add-skin {
    background-color: #64bf6d;
    cursor: pointer;
}

.card-skin {
    width: 20vh;
    height: 40vh;
    border-radius: 5px;
    color: aliceblue;
    display: inline-block;
    background-color: none;
}
