[Desktop Entry]
Version=1.0
Type=Application
Name=Starter
Icon=starter
Exec=/opt/starter/Starter
Comment=Starter
Categories=GNOME;GTK;Development;Documentation;
Terminal=false
