 body {
	 background: #b7950b;
 }

.server_status {
	    text-align: center;
	    display: flow-root;
	    margin: 0 auto;
	    margin-top: 2%;
	    margin-right: 5%;
	    height: 65%;
	    width: 40%;
	    border-radius: 5%;
	    background: #00000055;
	    color: #f8f9f9;
	}
	

	.server_status hr{
	    color:#b7950b
	}
	

	.users {
	    height: 15%;
	    color: #fff;
	    font-size: 200%;
	}