@import "font.css";
@import "panels/login.css";
@import "panels/home.css";
@import "panels/settings.css";

* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    background: linear-gradient(#00000066, #00000066), url("../images/background/light.jpg") black no-repeat center center scroll;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

.dragbar {
    position: fixed;
    background: #00000080;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    -webkit-app-region: drag;
    z-index: 11;
    display: none;
}

.frame {
    background: transparent;
    position: fixed;
    display: table;
    top: 0px;
    right: 0px;
    z-index: 11;
    -webkit-app-region: no-drag;
    display: none;
}

.hide {
    display: block;
}

.button-frame {
    position: relative;
    display: table-cell;
    width: 30px;
    height: 26px;
    transition: color .2s, background-color .2s;
    color: black;
    cursor: pointer;
}

.icon-close:hover {
    background: #e21212;
}

.icon-minimize:hover,
.icon-restore-down:hover,
.icon-maximize:hover {
    background-color: #0000009d;
}

.icon-close:before,
.icon-minimize:before,
.icon-maximize:before,
.icon-restore-down:before {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: #f8f9f9;
}

.preload-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preload-progress {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 127px;
}

.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 14px;
    margin-top: 12px;
    background: #ffffff;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #ffffff;
    border-radius: 50%;
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

.preload-title {
    font: normal normal bold 30px/40px Poppins;
    color: #E1E1E1;
    text-align: center;
    margin: 2em 0;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.active {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

.rotation {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}