.log-console {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    background: #121212;
    transition: 0.2s;
    padding: 20px;
    font: normal normal bold 19px/29px Poppins;
    color: #E1E1E1;
    border-radius: 20px;
    overflow: auto;
    display: none;
}

.title-log {
    text-align: center;
}

.log-console-content {
    position: absolute;
    width: 90%;
    background: #1a1a1a;
    text-align: left;
    border-radius: inherit;
    padding: 0.7em 1em;
    margin: 0.5em 0;
}