.global {
    --element-color: #14DE42;
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #0B0D0B;
    --light-color: rgb(245, 245, 245);
}

.dark {
    --color: #FFFFFF;
    --background: rgba(38, 38, 38, 0.60);
    --background-element: rgba(38, 38, 38, 0.60);
    --background-transparent: rgba(38, 38, 38, 0.60);
    --shadow: rgba(26, 32, 28, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(23%) hue-rotate(236deg) brightness(108%) contrast(92%);
}

.light {
    --color: #FFFFFF;
    --background: #0F0F0F;
    --background-element: #0F0F0F;
    --background-transparent: #0F0F0F;
    --shadow: rgba(255, 255, 255, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(1719%) hue-rotate(357deg) brightness(94%) contrast(84%);
}