body {
    margin: 0;
    padding: 0;

}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../wallpaper.jpg") no-repeat center center scroll;
    height: 55vh;
    width: 100%;
}

.user-head {
    width: 47px;
    height: auto;
}
