@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    font-style: normal normal bold;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #202020;
    width: 100%;
    height: 100%;
}

.hide {
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
    pointer-events: none;
}

.welcome {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    color: #F2F2F2;
}

.next-step {
    border: none;
    border-radius: 30px;
    outline: none;
    background: #00bd7a;
    font-style: normal normal bold;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

.config-database {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
    font-size: 1rem;
    border-radius: 15px;
}

.config-database-input {
    text-align: center;
    display: grid;
}

.bdd-input {
    text-align: center;
    font-family: 'Poppins';
    font-size: 1rem;
    letter-spacing: 2px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    background: #252525;
    margin-bottom: 1rem;
    padding: 0.375rem 0.75rem;
}

.config-user {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
    font-size: 1rem;
    border-radius: 15px;
}

.btn-form {
    border: none;
    border-radius: 30px;
    outline: none;
    background: #00bd7a;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    margin: 1rem 4rem;
}