.slider {
    display: none;
    position: relative;
    margin-top: 24px;
    height: 18px;
    width: 330px;
    user-select: none;
  }

  .slider-touch-left, .slider-touch-right {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    z-index: 2;
  }
  
  .slider-touch-left span, .slider-touch-right span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: blue;
    border: 4px solid red;
    transition: background-color 0.2s, border 0.2s;
    border-radius: 18px;
    cursor: pointer;
  }
  
  span:after, span:after {
    content: "";
    font: normal normal bold 0.6666666666666666px Poppins;
    color: black;
    white-space: nowrap;
    pointer-events: none;
    position: absolute;
    top: -20px;
    left: 55%;
    transform: translate(-50%);
  }

  .slider-line {
    box-sizing: border-box;
    position: absolute;
    width: calc(82%);
    left: 9px;
    top: 7px;
    height: 4px;
    border-radius: 4px;
    background-color: red;
    transition: background-color 0.2s;
    z-index: 0;
    overflow: hidden;
  }
  .content .slider .slider-line span {
    display: block;
    height: 100%;
    width: 0%;
    background-color: blue;
    transition: background-color 0.2s;
  }
  
 
  .slider {
    display: inline-block;
  }
  
  