@import "font.css";
@import "Panels/login.css";
@import "Panels/home.css";
@import "Panels/settings.css";

body {
    margin: 0;
    padding: 0;
    background: rgb(27, 27, 27);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.dragbar {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    -webkit-app-region: drag;
    z-index: 9;
    display: none;
}


.frame {
    background: transparent;
    position: absolute;
    display: table;
    top: 0px;
    right: 0px;
    z-index: 10;
    -webkit-app-region: no-drag;
    display: none;
}

.hide {
    display: block;
}

.button-frame {
    position: relative;
    display: table-cell;
    width: 30px;
    height: 26px;
    transition: color .2s, background-color .2s;
    color: black;
    cursor: pointer;
}

.icon-close:hover {
    background: #e21212;
}

.icon-minimize:hover, .icon-restore-down:hover, .icon-maximize:hover{
    background-color: #0000009d;
}


.icon-close:before, .icon-minimize:before, .icon-maximize:before ,.icon-restore-down:before {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color:#f8f9f9;
}

.panel{
    display: none;
}

  