@font-face {
    font-family: 'Icons';
    src: url('../fonts/Icons.woff2') format('woff2');
}

.frame {
    position: absolute;
    background-color: #03030383;
    display: table;
    top: 0px;
    right: 0px;
    z-index: 10;
    -webkit-app-region: no-drag;
}
  .button-frame {
      position: relative;
      display: table-cell;
      width: 30px;
      height: 26px;
      transition: color .2s, background-color .2s;
      color: #1E1E1E;
      cursor: pointer;
      height: 16px;
      font-size: 16px;
      }

      
  



.icon-close:before { font-family: "Icons"; content: "\e90e"; }
.icon-minimize:before { font-family: "Icons"; content: "\e90b"; }